<div class="container my-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://source.unsplash.com/300x200/?sky,water" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://source.unsplash.com/300x200/?code,water" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://source.unsplash.com/300x200/?programming,water" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col lg-6">
                <img class="card-img-top" src="https://source.unsplash.com/500x300/?nodejs,code" alt="Card image cap">
            </div>
                    
            <div class="col lg-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, a. Nobis, nostrum mollitia impedit veniam, dolorum quia vel accusamus assumenda quisquam modi laudantium? Inventore culpa, eveniet neque veniam dignissimos loream8888
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur neque explicabo corporis et dicta quis quisquam veritatis quo a voluptatem. Consequuntur nesciunt mollitia a? Veritatis, aperiam. Sunt aperiam qui, officia aliquid fugit repudiandae fuga reprehenderit ratione perspiciatis et rem iure tempora dicta aliquam sit itaque aut nemo tempore, quos expedita neque totam cumque vel. Rem.
                </p>
            </div>
                    
                
            </div>
        </div>
    </div>

